{% extends 'base.html' %}

{% block title %}
    products
{% endblock %}

{% block content %}
    <h1>all Products</h1>
    {% for product in products %}
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3>{{ product.name }}</h3>
                <img src="{{ product.image.url }}" class='w-25' alt="">
                {% if product.discount %}
                    <strike>{{ product.unit_price }}</strike>
                    <p>{{ product.total_price }}</p>
                {% else %}
                    <p>{{ product.unit_price }}</p>
                {% endif %}
                <a href="{% url 'product_module:product-detail' product.id %}">Detail</a>
                <hr class="w-50">
            </div>

        </div>
    {% endfor %}

{% endblock %}