{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    products
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'product_module/products.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for data in categories %}

            <div class="dropdown show">
                <a href="{{ data.get_absolute_url }}">{{ data.name }}</a>
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">

                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for sub in data.sub.all %}
                        <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-9">

                <hr>
                <h1>all Products</h1>
                <form action="">
                    <input type="submit" name="price" value="cheapest">
                    <input type="submit" name="price" value="expensive">
                    <input type="submit" name="created_at" value="oldest">
                    <input type="submit" name="created_at" value="newest">
                    <input type="submit" name="discount" value="higher">
                    <input type="submit" name="discount" value="lower">

                    <div style="display: None">
                        {{ filter.form.brand }}
                        {{ filter.form.size }}
                        {{ filter.form.color }}
                    </div>
                </form>

                {% for product in products %}

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h3>{{ product.name }}</h3>
                        {% thumbnail product.image "100x100" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                        {% if product.discount %}
                            <strike>{{ product.unit_price }}</strike>
                            <p>{{ product.total_price }}</p>
                        {% else %}
                            <p>{{ product.unit_price }}</p>
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}">Detail</a>
                        <hr class="w-50">
                    </div>
                {% endfor %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ products.previous_page_number }}&{{ data }}">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ products.previous_page_number }}&{{ data }}">{{ products.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item"><a class="page-link {% if page_num == page_num %} active {% endif %}"
                                                 href="?page={{ products.number }}"
                                                 style="background-color: blue ; color: aliceblue">{{ products.number }}</a>
                        </li>

                        {% if products.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ products.next_page_number }}&{{ data }}">{{ products.next_page_number }}</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ products.next_page_number }}&{{ data }}">Next</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
                <hr>
            </div>

            <div class="col-3">
                <h3>filter</h3>
                <form action="" method="get">
                    <lable>by price
                        <div class='multi-range' data-lbound='10' data-ubound='50'>
                            <hr/>
                            <input type='range' name="price1"
                                   min='{{ min }}' max='{{ max }}' step='10' value='{{ min }}'
                                   oninput='this.parentNode.dataset.lbound=this.value;'
                            />
                            <input type='range' name="price2"
                                   min='{{ min }}' max='{{ max }}' step='10' value='{{ max }}'
                                   oninput='this.parentNode.dataset.ubound=this.value;'
                            />
                        </div>
                    </lable>
                    <hr>
                    <lable>by brand
                        {{ filter.form.brand }}
                    </lable>
                    <hr>
                    <lable>by color
                        {{ filter.form.color }}
                    </lable>
                    <hr>
                    <lable>by size
                        {{ filter.form.size }}
                    </lable>
                    <div style="display: None">
                        {{ filter.form.price }}
                        {{ filter.form.cheapest }}
                        {{ filter.form.expensive }}
                        {{ filter.form.oldest }}
                        {{ filter.form.newest }}
                        {{ filter.form.higher }}
                        {{ filter.form.lower }}
                    </div>

                    <button type="submit" class="btn btn-danger">filter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}