{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <div class="container">
        <h2>detail of {{ product }}</h2>
        <h3>{{ product.name }}</h3>
        <img src="{{ product.image.url }}" alt="" class="w-50">
        <h5>{{ product.description }}</h5>
        {% if product.discount %}
            <button class="btn btn-danger">{{ product.discount }} %</button>
        {% endif %}
        <h4>{{ product.total_price }} $</h4>
    </div>
{% endblock %}