{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <div class="container">
        <h2>detail of {{ product }}</h2>
        <h3>{{ product.name }}</h3>
        <img src="{{ product.image.url }}" alt="" style="width: 200px">
        <h5>{{ product.description|safe }}</h5>

        {% if product.discount %}
            <button class="btn btn-danger">{{ product.discount }} %</button>
        {% endif %}
        <h4>{{ product.total_price }} $</h4>
        <hr>
        {% if request.user.is_authenticated %}
            {% if is_like %}
                <a href="{% url 'product_module:product-like' product.id %}" class="btn btn-primary {% if is_unlike %}
                   disabled {% endif %}"><i
                        class="bi bi-heart-fill"></i></a>
            {% else %}
                <a href="{% url 'product_module:product-like' product.id %}" class="btn btn-primary {% if is_unlike %}
                   disabled {% endif %}"><i
                        class="bi bi-heart"></i></a>
            {% endif %}
            <p>like = {{ product.total_like }}</p>
            {% if is_unlike %}
                <a href="{% url 'product_module:product-unlike' product.id %}" class="btn btn-danger {% if is_like %}
                   disabled {% endif %}">like</a>
            {% else %}
                <a href="{% url 'product_module:product-unlike' product.id %}" class="btn btn-danger {% if is_like %}
                   disabled {% endif %}">dislike</a>
            {% endif %}
            <p>dislike = {{ product.total_unlike }}</p>
        {% endif %}




        <hr>
        {% if product.status == 'Size' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %}
                           checked
                    {% endif %} name="selected_variant" onchange="this.form.submit()">{{ data.size_variant.name }}  <br>
                {% endfor %}
            </form>
        {% elif product.status == 'Color' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %}
                           checked
                    {% endif %} name="selected_variant" onchange="this.form.submit()">{{ data.color_variant.name }}
                    <br>
                {% endfor %}
            </form>
        {% endif %}
        <hr>
        {% for product in similar_products %}
            <h3>{{ product.name }}</h3>
            <img src="{{ product.image.url }}" class='w-25' alt="">
            {% if product.discount %}
                <strike>{{ product.unit_price }}</strike>
                <p>{{ product.total_price }}</p>
            {% else %}
                <p>{{ product.unit_price }}</p>
            {% endif %}
            <a href="{{ product.get_absolute_url }}">Detail</a>
            <hr class="w-50">
        {% endfor %}

    </div>
{% endblock %}