{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <div class="container">
        <h2>detail of {{ product }}</h2>
        <h3>{{ product.name }}</h3>
        <h4>rate = {{ product.average }}</h4>
        <img src="{{ product.image.url }}" alt="" style="width: 200px">
        <hr>
        <div class="raw">
            {% for img in images %}
                <img src="{{ img.image.url }}" alt="" style="width: 100px">
            {% endfor %}
        </div>

        {% if is_favorite %}
            <a href="{% url 'product_module:favorite-product' product.id %}"><i class="fa fa-bookmark"
                                                                                title="add to favorite"></i></a>
        {% else %}
            <a href="{% url 'product_module:favorite-product' product.id %}"><i class="fa fa-bookmark-o"
                                                                                title="remove from favorite"></i></a>
        {% endif %}

        <h5>{{ product.description|safe }}</h5>

        {% if product.discount %}
            <button class="btn btn-danger">{{ product.discount }} %</button>
        {% endif %}
        <h4>{{ product.total_price }} $</h4>
        <hr>

        <div class="cart">
            {% if product.status != 'None' %}
                <form action="{% url 'cart:add-to-cart' id=product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="select" value="{{ variants.id }}">
                    <input type="number" min="1" max="{{ variants.amount }}" name="quantity">
                    <button type="submit" class="btn btn-danger">add to basket</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'cart:add-to-cart' id=product.id %}">
                    {% csrf_token %}

                    <input type="number" min="1" max="{{ product.amount }}" name="quantity">
                    <button type="submit" class="btn btn-danger">add to basket</button>
                </form>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            {% if is_like %}
                <a href="{% url 'product_module:product-like' product.id %}" class="btn btn-primary {% if is_unlike %}
                   disabled {% endif %}"><i
                        class="bi bi-heart-fill"></i></a>
            {% else %}
                <a href="{% url 'product_module:product-like' product.id %}" class="btn btn-primary {% if is_unlike %}
                   disabled {% endif %}"><i
                        class="bi bi-heart"></i></a>
            {% endif %}
            <p>like = {{ product.total_like }}</p>
            {% if is_unlike %}
                <a href="{% url 'product_module:product-unlike' product.id %}" class="btn btn-danger {% if is_like %}
                   disabled {% endif %}">like</a>
            {% else %}
                <a href="{% url 'product_module:product-unlike' product.id %}" class="btn btn-danger {% if is_like %}
                   disabled {% endif %}">dislike</a>
            {% endif %}
            <p>dislike = {{ product.total_unlike }}</p>
        {% endif %}




        <hr>
        {% if product.status == 'Size' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %}
                           checked
                    {% endif %} name="selected_variant" onchange="this.form.submit()">{{ data.size_variant.name }}  <br>
                {% endfor %}
            </form>
        {% elif product.status == 'Color' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %}
                           checked
                    {% endif %} name="selected_variant" onchange="this.form.submit()">{{ data.color_variant.name }}
                    <br>
                {% endfor %}
            </form>
        {% endif %}

        <hr>

        <div class="card bg-danger">
            <h4>your choice price {{ variants.total_price }} </h4>
        </div>

        <hr>


        {#        {% for product in similar_products %}#}
        {#            <h3>{{ product.name }}</h3>#}
        {#            <img src="{{ product.image.url }}" class='w-25' alt="">#}
        {#            {% if product.discount %}#}
        {#                <strike>{{ product.unit_price }}</strike>#}
        {#                <p>{{ product.total_price }}</p>#}
        {#            {% else %}#}
        {#                <p>{{ product.unit_price }}</p>#}
        {#            {% endif %}#}
        {#            <a href="{{ product.get_absolute_url }}">Detail</a>#}
        {#            <hr class="w-50">#}
        {#        {% endfor %}#}

        <div>
            <h3>Leave a comment</h3>
            <form action="{% url 'product_module:product-comment' product.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
        <hr>

        <div class="container">
            <h3>comments</h3>
            {% for comment in comments %}
                <div class="shadow p-4 mt-1 bg-dark rounded">
                    <h4 class="text-white">{{ comment.user.username }}</h4>

                    <p class="text-white">{{ comment.body }}</p>
                    <p class="text-white">rate = {{ comment.rate }}</p>
                    <hr>
                    <small class="text-white-50">{{ comment.created_at }}</small>
                    <hr class="text-white">

                    <div class="raw">
                        <div class="p-2 m-2">
                            <a href="{% url 'product_module:comment-like' comment.id %}"
                               class="text-white bg-danger p-3 rounded">Like</a>
                            <small class="text-white">&nbsp {{ comment.total_like }}</small>
                        </div>
                        <hr>
                    </div>
                    <form action="{% url 'product_module:comment-reply' product_id=product.id comment_id=comment.id %}"
                          method="post">
                        {% csrf_token %}
                        {{ reply_form.as_p }}
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">reply</button>
                        </div>
                    </form>


                    {% for data in comment.comment_reply.all %}
                        <hr>

                        <div class="bg-danger p-2 rounded">
                            <h4 class="text_white">{{ data.user.username }}</h4>
                            <p class="text-white">{{ data.body }}</p>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}

            <div class="raw">
                <canvas id="myChart"></canvas>
            </div>
            {% block script %}
                {% if product.status != 'None' %}
                    <script>
                        const ctx = document.getElementById('myChart');

                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for i in change %}{% if variants.id == i.variant_id %}'{{ i.update|date }}'{% endif %}, {% endfor %}],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [{% for i in change %}{% if variants.id == i.variant_id %}{{ i.unit_price }}{% endif %}, {% endfor %}],
                                    borderWidth: 0.1,
                                    backgroundColor: '#f33232',
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>

                {% else %}
                    <script>
                        const ctx = document.getElementById('myChart');

                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for i in update %}'{{ i.update|date }}',{% endfor %}],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [{% for i in update %}{{ i.unit_price }}, {% endfor %}],
                                    borderWidth: 0.1,
                                    backgroundColor: '#f33232',
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>

                {% endif %}
            {% endblock %}

        </div>
    </div>
{% endblock %}