{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container d-flex">

    <hr class="w-75">
    <div class="col-md-9">
        <table>
            <tr>
                <h2>{{profile.user.username}}</h2>
            </tr>
            <tr>
                <h2>{{profile.user.email}}</h2>
            </tr>
            <tr>
                <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
            </tr>
            <tr>
                <h2>{{profile.phone_number}}</h2>
            </tr>
            <tr>
                <h2>{{profile.address}}</h2>
            </tr>

        </table>
    </div>
    <div class="col-md-3">
        <h2>
            <a href="{% url 'accounts:edit-profile'%}">edit profile </a>
        </h2>
        <h2>
            <a href="{% url 'accounts:change-password'%}">change password </a>
        </h2>

    </div>
</div>
{% endblock %}