{%extends 'base.html'%}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block references %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1>this is register page</h1>

    <form method="post" class="shadow p-4 mt-4">
        {%csrf_token%}
        {{form.as_p}}
        <button class="btn btn-success btn-block" type="submit">register</button>
    </form>
    <hr>
    <p>Already registered?</p>
    <a href="{% url 'accounts:login' %}">Login</a>
</div>
{% endblock %}