<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
            <li class="nav-item text-white active">
                <a class="nav-link" href="{% url 'home:home-page' %}">Home</a>
            </li>
            <li class="nav-item text-white active">
                <a class="nav-link" href="{% url 'product_module:products' %}">Products</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:profile' %}">profile</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">register</a>
                </li>

            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart-detail' %}"><i class="bi bi-cart-fill text-white"></i></a>
            </li>


        </ul>
    </div>
</nav>